<div class = "footer">
  <div class="container">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <strong>About SG2015</strong>
          <ul>
            <li><a href = "about.html">About</a></li>
            <li><a href = "projects.html">Projects</a></li>
            <li><a href = "#">Start</a></li>
            <li><a href = "#">Contact Us</a></li>
          </ul>
        </div>
        <div class="span3">
          <strong>Latest Projects</strong>
          <ul>
            <li><a href = "#">A day without Borders</a></li>
            <li><a href = "#">Bonding with Borders</a></li>
            <li><a href = "#">New Town Day</a></li>
            <li><a href = "#">SG 2015 Leadership</a></li>
          </ul>
        </div>
        <div class="span3">
          <strong>Keep In touch</strong>
          <ul>
            <li><a href = "#">Facebook</a></li>
            <li><a href = "#">Twitter</a></li>
            <li><a href = "#">Google +</a></li>
            <li><a href = "#">Youtube</a></li>
          </ul>
        </div>
        <div class="span3">
          Like Us on Facebook
        </div>

        <div class = "clear"></div>
        <div class = "bottom">
          <div class = "span6 no-margin align-left">SG2015.com &copy; 2013. All Rights Reserved</div>
          <div class = "span6 no-margin align-right"><a href = "#">Terms of Use</a>    <a href = "#">Privacy Policy</a>    <a href = "#">Guide</a></div>
        </div>
      </div>
    </div>
  </div>
</div>	