<div class = "projects-content content-heading">
  <div class = "projects-heading"><h2>Projects</h2></div>
</div>

<div class = "project">
  <div class = "span4" ng-repeat="project in projects">
    <iframe width="284" height="159" src="//youtube.com/embed/{{ project.youtube_vid }}" frameborder="0" allowfullscreen></iframe>
    <h3><a href="/#/projects.show/{{ project.id }}">{{ project.name }}</a></h3>
    <div class = "span6 no-margin"><a class = "support" href="/#/projects.show/{{ project.id }}">Support</a></div>
    <div class = "span6"><a class = "volunteer" href="/#/projects.show/{{ project.id }}">Volunteer</a></div>
    <div class = "clear"></div>
  </div>
</div>