<div class = "content-heading">
  <div class = "about-heading"><h2>Start A Project</h2></div>
  <div class = "video-text">
    <p>Please feel free to upload your project concept and idea accordingly. Any project can be submitted online on SG2015.com. The Objective of SG2015 is to prepare 50 projects that can help us fulfill the Singapore Pledge. </p>
    <p>Please select at least 3 out of the 8 part of the pledge that your project hope to help fulfill.</p>
    <ol>
      <li ng-repeat="objective in objectives.slice(1,-1)">
        {{ objective.name }}  &nbsp;-&nbsp; <small class="text-info">{{ objective.explanation }}</small>
      </li>
    </ol>
  </div>
</div>

<form novalidate class="form-horizontal" name="newProjectForm">
<fieldset>
  <div class="control-group">
    <label class="control-label" for="textinput">Name of Project</label>
    <div class="controls">
      <input id="textinput" ng-model="project.name" name="name" type="text" placeholder="whats your project?" class="input-xxlarge" required>
    </div>
  </div>
</fieldset>

<fieldset class = "leaders">

  <div ng-repeat="leader in project.project_leaders" id="project-leaders">
    <div class = "span5">
      <div class="control-group">
        <label class="control-label" for="textinput" ng-bind-template="Name of Project Leader {{ $index + 1 }}"></label>
        <div class="controls">
          <input id="textinput" ng-model="leader.name" name="name" type="text" class="input-medium" required>
        </div>
      </div>
    </div>
    <div class = "span5">
      <div class="control-group">
        <label class="control-label" for="textinput">Contact Number</label>
        <div class="controls">
          <input id="textinput" ng-model="leader.contact_number" name="contact_number" type="text" class="input-medium" required>
        </div>
      </div>
    </div>
    <div class="span2" ng-hide="$index == 0"><a ng-click="removeProjectLeader($index)" class="btn btn-danger">X</a></div>
    <div class = "clear"></div>
  </div>

  <div class="control-group">
    <label class="control-label" for="singlebutton"></label>
    <div class="controls">
      <button ng-click="addProjectLeader()" id="addbutton" name="singlebutton" class="btn btn-default">Add Project Leader</button>
    </div>
  </div>

</fieldset>

<fieldset>
  <div class="control-group">
    <label class="control-label" for="filebutton">Organization Logo</label>
    <div class="controls">
      <input type="file" fileupload name="picture"
             uploader-id="logo-uploader"
             server-domain="http://sgattractions.com:3003"
             service-path="pictures" />
      <span ng-bind="logo_upload_state"></span>
      <img ng-src = "{{ project.organization_logo }}" style="max-height: 300px;">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="textinput">Contact Person</label>
    <div class="controls">
      <input id="textinput" ng-model="project.contact_person" name="contact_person" type="text" placeholder="contact name" class="input-xxlarge" required>

    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="textinput">Handphone Number</label>
    <div class="controls">
      <input id="textinput" ng-model="project.contact_person_number" name="contact_person_number" type="text" placeholder="number" class="input-xxlarge" required>

    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="textinput">Email</label>
    <div class="controls">
      <input id="textinput" ng-model="project.contact_person_email" name="contact_person_email" type="text" placeholder="your_email@email.com" class="input-xxlarge" required>

    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="textinput">Date Project commenced</label>
    <div class="controls">
      Selected date is: <em>{{project.execution_date | date:'fullDate' }}</em>
      <datepicker ng-model="project.execution_date" show-weeks="showWeeks" starting-day="1"></datepicker>
    </div>
  </div>
</fieldset>


<div class="project heading-wrap">
  <div class="latest-heading">
    <h2>Project Objective</h2>
  </div>
</div>
<fieldset class = "objectives">

  <div class="control-group">
    <label class="control-label">First Objective</label>
    <div class="controls">
      <select ng-model="project.first_objective_id" ng-options="objective.id as objective.name || '' for objective in objectives" class="input-xxlarge" required></select>
    </div>
  </div>
  <div class="control-group" ng-hide="project.first_objective_id == null">
    <label class="control-label">Why does it meet this objective?</label>
    <div class="controls">
      <textarea ng-model="project.first_objective_reason" required></textarea>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Second Objective</label>
    <div class="controls">
      <select ng-model="project.second_objective_id" ng-options="objective.id as objective.name || '' for objective in objectives" class="input-xxlarge"></select>
    </div>
  </div>
  <div class="control-group" ng-hide="project.second_objective_id == null">
    <label class="control-label">Why does it meet this objective?</label>
    <div class="controls">
      <textarea ng-model="project.second_objective_reason" required></textarea>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Third Objective</label>
    <div class="controls">
      <select ng-model="project.third_objective_id" ng-options="objective.id as objective.name || '' for objective in objectives" class="input-xxlarge"></select>
    </div>
  </div>
  <div class="control-group" ng-hide="project.third_objective_id == null">
    <label class="control-label">Why does it meet this objective?</label>
    <div class="controls">
      <textarea ng-model="project.third_objective_reason" required></textarea>
    </div>
  </div>

</fieldset>

<div class="project heading-wrap">
  <div class="latest-heading">
    <h2>Description your Project by filling in the following fields</h2>
  </div>
</div>

<fieldset>
  <div class="control-group">
    <label class="control-label" for="textarea">Who are the people or organisation behind  it</label>
    <div class="controls">
      <textarea ng-model="project.people_behind" name="textarea"></textarea>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="textarea">What does it hope to accomplish </label>
    <div class="controls">
      <textarea ng-model="project.what_to_accomplish" name="textarea">(e.g. who does it seek to serve)</textarea>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="textarea">How will you accomplish it</label>
    <div class="controls">
      <textarea ng-model="project.how_to_accomplish" name="textarea"></textarea>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="textarea">When will you know you have accomplished it</label>
    <div class="controls">
      <textarea ng-model="project.when_to_accomplish" name="textarea"></textarea>
    </div>
  </div>
</fieldset>

<div class="project heading-wrap">
  <div class="latest-heading">
    <h2> Projected Milestones</h2>
  </div>
</div>

<fieldset>
  <div class="control-group">
    <label class="control-label" for="textinput"> Current Number of Project Volunteers</label>
    <div class="controls">
      <input id="textinput" ng-model="project.current_volunteers" name="current_volunteers" type="text" placeholder="how many are your volunteers?" class="input-xxlarge" required>

    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="textinput">Target  Project supporters</label>
    <div class="controls">
      <input id="textinput" ng-model="project.target_volunteers" name="target_volunteers" type="text" placeholder="(e.g 200)" class="input-xxlarge">

    </div>
  </div>
</fieldset>


<div class="project heading-wrap">
  <div class="latest-heading">
    <h2>Others</h2>
  </div>
</div>

<fieldset>
  <div class="control-group">
    <label class="control-label">Project Photo Album</label>
    <div class="controls">
      <input type="file" fileupload name="picture"
             uploader-id="photo-uploader"
             server-domain="http://sgattractions.com:3003"
             service-path="pictures" />
      <span ng-bind="photo_upload_state"></span>
    </div>
  </div>
  <div class="span4">
    <div ng-repeat="photo in project.project_photos">
      <img ng-src = "{{ photo.url }}" style="max-height: 150px;">
      <a ng-click="removeProjectPhoto($index)" class="btn btn-danger">X</a>
    </div>
  </div>
</fieldset>

<fieldset>
  <div class="control-group">
    <label class="control-label" for="textinput">Project Youtube Video Link</label>
    <div class="controls">
      <input id="textinput" ng-model="project.video_url" name="video_url" type="text" placeholder="" class="input-xxlarge">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="textinput">Project Youtube Video Channel</label>
    <div class="controls">
      <input id="textinput" ng-model="project.youtube_channel" name="youtube_channel" type="text" placeholder="" class="input-xxlarge">
    </div>
  </div>
</fieldset>

<fieldset>
  <div class="control-group">
    <label class="control-label" for="textarea">Why should Singaporeans support this project</label>
    <div class="controls">
      <textarea ng-model="project.why_support" name="why_support"></textarea>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="checkboxes">What do you need most to fulfil your objectives.</label>
    <div class="controls">
      <label class="checkbox" for="checkboxes-0">
        <input type="checkbox" ng-model="project.seek_financial_support">
        Seek financial support
      </label>
      <label class="checkbox" for="checkboxes-1">
        <input type="checkbox" ng-model="project.seek_volunteer_support">
        Seek volunteer support
      </label>
      <label class="checkbox" for="checkboxes-2">
        <input type="checkbox" ng-model="project.seek_society_support">
        Seek society support
      </label>
      <label class="checkbox" for="checkboxes-3">
        <input type="checkbox" ng-model="project.seek_government_support">
        Seek government support
      </label>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="textarea">Blog the progress of your Project</label>
    <div class="controls">
      <textarea ng-model="project.progress_blog" name="textarea"></textarea>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="singlebutton"></label>
    <div class="controls">
      <button ng-click="submitForm()" id="singlebutton" name="singlebutton" class="btn btn-danger">Start this project now!</button>
    </div>
  </div>

</fieldset>
</form>