<div class = "video">
  <div class="flex-video widescreen">
    <iframe src="http://player.vimeo.com/video/69732980" width="752" height="346" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> <p><a href="http://vimeo.com/69732980">SG2015 | A Grid_Synergy Transmedia Initiative</a> from <a href="http://vimeo.com/gridproduction">Grid_Synergy</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
    <!--<iframe width="752" height="346" src="//youtube.com/embed/RtR5tHIcHbk" frameborder="0" allowfullscreen></iframe> -->
  </div>
  <div class = "video-heading"><h2>What is <strong>Sg2015</strong>?</h2></div>
  <div class = "video-text">
    SG2015  is a movement to create 50 Birthday Projects that we can offer to our nation as a birthday present on 9 Aug 2015, its 50th national day. The initiative commenced on  9 Aug 2012. SG2015 aspires to attract the average silent majority of Singaporeans living here or overseas to remember the past, understand the present and if necessary, shape the future.   Singapore belongs not only to a vocal few, but to the majority of us who have grown up here, lived here, fallen in love here, brought up our kids here, and in all likelihood, die here. We hope that the Projects suggested and created will help Singapore define itself for the next 50 years of life as a nation, and bring us together on a common space - Our Pledge.
  </div>
</div>
<div class = "clear"></div>

<div class = "features">
  <div class = "span4">
    <img src = "/img/share.jpg">
    <h3>Start</h3>
    <p>Please click here to upload your project ideas!</p>
  </div>
  <div class = "span4">
    <img src = "/img/listen.jpg">
    <h3>Featured</h3>
    <p>Please click here to view projects that are gaining traction!</p>
  </div>
  <div class = "span4">
    <img src = "/img/family.jpg">
    <h3>Popular</h3>
    <p>Please click here to view Projects with the most number of volunteers!</p>
  </div>
  <div class = "clear"></div>
</div>

<div class = "project heading-wrap">
  <div class="latest-heading">
    <h2>LATEST PROJECTS</h2>
  </div>
</div>
<div class = "project">
  <div class = "span4">
    <iframe width="284" height="159" src="http://www.youtube.com/embed/Wt0CTlfjh2Q" frameborder="0" allowfullscreen></iframe>
    <h3>A Day Without Borders</h3>
    <div class = "span6 no-margin"><a class = "support" href = "#">Support</a></div>
    <div class = "span6"><a class = "volunteer" href = "#">Volunteer</a></div>
    <div class = "clear"></div>
  </div>
  <div class = "span4">
    <iframe width="284" height="159" src="http://www.youtube.com/embed/nf535Vvhd_4" frameborder="0" allowfullscreen></iframe>
    <h3>Bonding with Borders</h3>
    <div class = "span6 no-margin"><a class = "support" href = "#">Support</a></div>
    <div class = "span6"><a class = "volunteer" href = "#">Volunteer</a></div>
    <div class = "clear"></div>
  </div>
  <div class = "span4">
    <iframe width="284" height="159" src="http://www.youtube.com/embed/vlo_c10U6Xg" frameborder="0" allowfullscreen></iframe>
    <h3>New Town National Day</h3>
    <div class = "span6 no-margin"><a class = "support" href = "#">Support</a></div>
    <div class = "span6"><a class = "volunteer" href = "#">Volunteer</a></div>
    <div class = "clear"></div>
  </div>
  <div class = "clear"></div>
</div>

<img src = "/img/sponsors.jpg" class = "sponsors-img">